<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aaiaero.emaintenance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".ParseServerConnection"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".VcsSittiActivity"
            android:exported="false" />
        <activity
            android:name=".VcsMakeModelActivity"
            android:exported="false" />
        <activity
            android:name=".AmssEcilActivity"
            android:exported="false" />
        <activity
            android:name=".DvorMopiensActivity"
            android:exported="false" />
        <activity
            android:name=".DmeGeclActivity"
            android:exported="false" />
        <activity
            android:name=".NormarcActivity"
            android:exported="false" />
        <activity
            android:name=".AmssActivity"
            android:exported="false" />
        <activity
            android:name=".LlzMakeModelActivity"
            android:exported="false" />
        <activity
            android:name=".DmeMakeModelActivity"
            android:exported="false" />
        <activity
            android:name=".DvorMakeModelActivity"
            android:exported="false" />
        <activity
            android:name=".NavAidsActivity"
            android:exported="false" />
        <activity
            android:name=".ADSBMakeModelActivity"
            android:exported="false" />
        <activity
            android:name=".FillOrChooseActivity"
            android:exported="false" />
        <activity
            android:name=".ADSBComsoftDailyActivity"
            android:exported="false" />
        <activity
            android:name=".ListDataActivity"
            android:exported="false" />
        <activity
            android:name=".SurvADSBComsoftDailyActivity"
            android:exported="false" />
        <activity
            android:name=".LogOutActivity"
            android:exported="false" />
        <activity
            android:name=".ADSBDailyActivity"
            android:exported="false" />
        <activity
            android:name=".ADSBActivity"
            android:exported="false" />
        <activity
            android:name=".ERActivity"
            android:exported="false" />
        <activity
            android:name=".CheckSchedules"
            android:exported="false" />
        <activity
            android:name=".UnitSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>